@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

section .contentBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 100%;
}

section .contentBox .formBox
{
    width: 100%;
}

section .contentBox .formBox h2
{
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 4px solid #408CFF;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
}

section .contentBox .formBox .inputBox
{
    margin-bottom: 20px;
}

section .contentBox .formBox .inputBox span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBox .formBox .inputBox input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #979797;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    background: transparent;
    border-radius: 30px;
}

section .contentBox .formBox .inputBox input[type="submit"]
{
    background: #408CFF;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBox .formBox .inputBox p
{
    color: #000000;
}

section .contentBox .formBox .inputBox p a
{
    color: #ff4584;
}

section .contentBox .formBox .remember
{
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400px;
    font-size: 14px;
}

section .contentBox .formBox h3
{
    color: #000000;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .contentBox .formBox .sci
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section .contentBox .formBox .sci li
{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    font-size: 26px;
    color: #000000;
}

section .contentBox .formBox .sci li img
{
    transform: scale(0.7);
    filter: invert(1);
}

@media (max-width:768px)
{
    section .contentBox
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBox .formBox
    {
        width: 100%;
        padding: 15px;
        background: rgba(255,255,255,0.93);
        border-radius: 20px;
    }

    section .contentBox .formBox h3
    {
        margin: 30px 0 10px;
    }
}